/*#_ {
      background-color: #fff;
      min-height: 100vh;
      display: grid
    }*/

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  html,body{
    height: 100%;
    margin: 0;
  }

  body{
    display: flex;
    flex-direction: column;
  }
    
  header{
    margin-top:.5% ;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items:center;
    border-radius: 25px;
    background-color: #fff;
    justify-content: space-between;
    padding: .4em 1em;
    
    box-shadow: 2px 0px 40px 4px #b4b4b4
;
  }

  #Icon_question_mark_circle {
    width: 32px;
    height: 32px;
    overflow: hidden;
  }

  #Icon {
    width: 81.3%;
    height: 81.3%;
  }

  #Camelot_Logo {
    border-radius: 0;
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    height: 68px;
    padding: 12px 0 12px 24px;
    
  }

  #Union {
    flex-shrink: 0;
    width: 25px;
    height: 30px;
    margin: 0;
    position: relative
  }

  #Camelot_Text {
    text-align: left;
    letter-spacing: -1px;
    color: #080325;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 0;
    width: max-content;
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    display: inline;
    position: relative
  }

  #__0 {
    letter-spacing: -1px;
    color: #080325;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 400
  }

  main{
    flex: 1;
    display: flex;
    align-items:inherit;
    justify-content: center;
    margin-top: 3%;
    background-color: #fff;
  }


  #Iniciar_Sesion {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 1250px;
    border-radius: 0;
    gap: 5em;
  }

  #Log-in-Header{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items : center;
    
    gap: 10%;
}


  #Title {
    display: inline;
    text-align: left;
    letter-spacing: -2.4px;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
  }

  #styleTitle {
    letter-spacing: -2.4px;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700
  }

  #SubTitle{
    text-align: left;
    letter-spacing: -.8px;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    display: inline;
  }

   #styleSubtitle {
    letter-spacing: -.8px;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400
  }




  #login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    align-items : center;

    gap: 2em;
    
  }


  .input_login{
    display: flex;
    align-items: start;
    justify-content: flex-start;

    background-color: #f8fafc;
    border-radius: 25px;
    
    width: 100%;
    border: none;
    outline: none;

    padding: 15px 18px ;


    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600; 
    
    color: #333;
    
  }

  #Button {
    grid-column-gap: 8px;
    filter: drop-shadow(0 1px 2px #1018280d);
    background-color: #4f46e5;
    border-radius: 1000px;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    width: 220px;
    padding: 12px 0 12px 1px;
    display: flex;
  
  }

  #Button_text {
    letter-spacing: -.4px;
    align-items: center;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px
  }

#SinCuenta {
  letter-spacing: -.7px;
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600
}

  #Registrate {
    letter-spacing: -.7px;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline
  }

#Crear_Cuenta {
  text-align: left;
  letter-spacing: -.7px;
  color: #000;
  --f2w-order: 5;
  -webkit-background-clip: text;
  background-clip: text;
  width: max-content;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  display: inline;
}


::placeholder {
  color: #79808a;
  font-weight: 600;
  opacity: 1;
}
